<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils By RJ</title>
</head>
<body>
    <h1>Text Analyzer Tool</h1>
    <p>Enter your text below:</p>
    <form action="/analyze" method='GET'>
    <textarea name='text' style="width: 1318px; height: 264px;"></textarea><br>
    <h2>Choose Function: </h2>
    <p><b>NOTE: </b>Check only one function at a time</p>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UpperCase All Letters<br>
    <input type="checkbox" name="newlineremover"> New Line Remove<br>
    <input type="checkbox" name="extraspaceremove"> Remove Extra Space<br>
    <input type="checkbox" name="charcounter"> Characters Counter<br>
    <button>Analyze Text</button>
    </form>
    
</body>
</html>